<html>
  <head>
    <title>Mermaid</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="helpsitePage">
    <div class="container">
      <div class="helpsite-page">
        <a href="/">homepage</a>
        <p>this is helpsite </p><br>

        <div class="help-content"><p>you are a mermaid </p>
          <br><p> contact me at this
          number</p><br>

          <p>828-747-9845</p>
          <br>
          <p>Do not talk to any humans!</p>
          <br>
        </div>
          
        </p>
      </div>
    </div>
  </body>
</html>
