<html>
  <head>
    <title>Mermaid</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="homepage">
    <div class="container"><%- include("nav.ejs", {}) %></div>
    <div class="png-container">
      <img src="upright_mermaid.PNG" id="mermaid-head" alt="mermaid head" />
    </div>
  </body>
</html>
