<html>
  <head>
    <title>Mermaid</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="aboutpage">
    <div class="about-page">
      <a href="/">homepage</a>
      <img src="letter1.png" id="letter" />
    </div>
  </body>
</html>
