<html>
  <head>
    <title>Mermaid</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="helpsitePage">
    <div class="container">
      <div class="helpsite-page">
        <a href="/">homepage</a>
        <p>this is helpsite </p><br>

        <div class="help-content"><p>you are a mermaid please contact me at this
          number</p></div>
          
        </p>
      </div>
    </div>
  </body>
</html>
