<html>
  <head>
    <title>podium</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body class="podiumPage">
    <div class="podium-container">
      <div class="podium-page">
        <a href="/">homepage</a>
        <a href="/map">all map</a>
      </div>
      <div class="png-container">
        <img src="sideways_mermaid.PNG" id="mermaid-head" alt="mermaid head" />
      </div>
    </div>
  </body>
</html>
